---
import ExperienceItem from "./ExperienceItem.astro"
import { getI18N } from '@/i18n';

const {currentLocale} = Astro
const i18n = getI18N({currentLocale})
const EXPERIENCIE = [
  {
    date: `${i18n.EXPERIENCE.JOB_1.TIME}`,
    title: `${i18n.EXPERIENCE.JOB_1.TITLE}`,
    company: `${i18n.EXPERIENCE.JOB_1.SUBTITLE}`,
    description: `${i18n.EXPERIENCE.JOB_1.DESCRIPTION}`,
    link: `${i18n.HERO.LINK_CTA}`	,
  },
  {
    date: `${i18n.EXPERIENCE.JOB_2.TIME}`,
    title: `${i18n.EXPERIENCE.JOB_2.TITLE}`,
    company: `${i18n.EXPERIENCE.JOB_2.SUBTITLE}`,
    description: `${i18n.EXPERIENCE.JOB_2.DESCRIPTION}`,
  },
  {
    date: `${i18n.EXPERIENCE.JOB_3.TIME}`,
    title: `${i18n.EXPERIENCE.JOB_3.TITLE}`,
    company: `${i18n.EXPERIENCE.JOB_3.SUBTITLE}`,
    description: `${i18n.EXPERIENCE.JOB_3.DESCRIPTION}`,
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>