---
import { Icon } from 'astro-icon/components'
const personalImageAlt = "Bryan Vela";
import Badge from "@/components/Badge.astro";
import SocialPill from "@/components/SocialPill.astro";
import { getI18N } from '@/i18n';

const {currentLocale} = Astro
const i18n = getI18N({currentLocale})
const title = "Bryan Vela";
const linkedinUrl = "https://www.linkedin.com/in/bdvela/"
const githubUrl = "https://github.com/bdvela"
---

<div class="max-w-xl mt-4 md:mt-0">
    <div class="flex gap-4 mb-4 items-end">
        <img
            class="rounded-full shadow-lg size-16"
            src="/me.jpg"
            alt={personalImageAlt}
        />
        <div
            class=" items-center transition md:justify-center "
        >
            <Badge>{i18n.HERO.SHORT_DESCRIPTION}</Badge>
            <h1
            class="my-2 text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
        >
            {title}
        </h1>
    </div>
        
    </div>
   
    <h1
        class="text-xl font-bold tracking-tight text-gray-800 sm:text-2xl dark:text-blue-700 mt-2"
    >
    </h1>
    <p
        class=`mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300` set:html={i18n.HERO.LONG_DESCRIPTION}
    >
        
    </p>
    <nav class="flex flex-wrap gap-4 mt-8">
        <SocialPill href={i18n.HERO.LINK_CTA}>
            <Icon name="mdi:whatsapp" class="size-5" href={linkedinUrl}/>
            {i18n.HERO.CTA}
        </SocialPill>
        <a href={linkedinUrl}>
            <Icon name="mdi:linkedin" class="size-8" />
        </a >
        <a href={githubUrl}>
            <Icon name="mdi:github" class="size-8" />
        </a>
        <a href={`/CV/${i18n.HERO.CV}`} download="CV_Vela_Bryan.pdf" title={i18n.HERO.ALT} >
            <Icon name="cv" class="size-8"/>
            {console.log(`/CV/${i18n.HERO.CV}`)}
        </a>

    </nav>
</div>
